<div class="container-self container-font">
  <div class="row justify-content-between places-section">
    <div class="loading" *ngIf="!singlePlaceData">
      loading...
    </div>

    <!-- start img slider  -->
    <div *ngIf="singlePlaceData" class='col-5 gallary'>
      <div class="master-img">
        <img src="{{singlePlaceData.mainImage}}" class="img-fluid master-img2">
      </div>
      <div class="thumbnails thumb-style">
        <i class="fas fa-chevron-left pr-2" #leftArrow (click)='onLeftClick(leftArrow)'></i>
        <img *ngFor="let x of singlePlaceData.imgs" src="{{x}}" class="img-fluid thumb-img mr-2" #img
          (click)='onClick(img)'>
        <i class="fas fa-chevron-right " #rightArrow (click)='onRightClick(rightArrow)'></i>
      </div>
    </div>
    <!-- end img slider  -->



    <div *ngIf="singlePlaceData " class='col-7 place-desc'>
      <div class="container pb-5">
        <div class="d-flex">
          <div class=" place-name">
            <h1 style="display: inline-block;font-size: 32px;" class="p-0">
              {{singlePlaceData.name}}
            </h1>
          </div>

          <!-- favourite -->
          <div class="col-2 pt-2">
            <a *ngIf="placeLoggedin==true" (click)="checkingFavs()">
              <!-- <i [ngStyle]='{color:checkFav==true?"red":"black"}' class="fas fa-heart">esraa</i> -->
              <!-- <i class="fas fa-heart"></i> -->
              <i *ngIf='checkFav==true; else emptyHeart' class="fas fa-heart solid"></i>
              <ng-template #emptyHeart>
                <i class="far fa-heart"></i>
              </ng-template>
            </a>
          </div>
          <!--favourite -->
        </div>

        <div>
          <svg *ngFor='let star of singlePlaceData.rates' height="25" width="25" class="star rating">
            <polygon points="9.9, 1.1, 3.3 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;">
            </polygon>
          </svg>
        </div>

        <p>{{singlePlaceData.desc}}</p>
        <address>
          <span class="specificSpan">Address: </span> <span>{{singlePlaceData.address}}</span>
        </address>
        <p><span class="specificSpan">phone:</span>{{singlePlaceData.contact.phone}}</p>
        <p><span class="specificSpan">open hours:</span>{{singlePlaceData.openHours}}</p>
        <p><span class="specificSpan">Payment Method:</span>{{singlePlaceData.paymentMethod}}</p>
        <p class="status" [ngStyle]="{'color':singlePlaceData.status === 'open now' ? '#00b467' : 'red' }"><i
            class="fas fa-check-circle" *ngIf='singlePlaceData.status=="open now"; else closed'></i>
          <ng-template #closed>
            <i class="fas fa-times-circle"></i>
          </ng-template>
          {{singlePlaceData.status}}
        </p>
        <button type="button" class="btn btn-outline-secondary" *ngIf='singlePlaceData.reservation=="true"'>Online
          Booking</button>
        <button type="button" class="btn btn-outline-secondary ml-2" *ngIf='singlePlaceData.reservation=="true"'
          (click)='appearOptionSection()'>
          <i class="fas fa-angle-up" *ngIf='!appear'></i> <i class="fas fa-angle-down" *ngIf='appear'></i> </button>
      </div>
    </div>
  </div>
  <!-- games  -->

  <section class="row games-section" style="background-color: #fff;" *ngIf='appear'>
    <div class="col-12 pb-5" style=" text-align: center;">
      <h2 class="title">Options</h2>
    </div>
    <div class=" col-12 d-flex games-card justify-content-center">
      <div class=" col-3 mr-4 games-details p-0" *ngFor="let Option of optionsOfSpesificPlace">
        <app-options [i]="Option"></app-options>
      </div>
    </div>


    <div class="col-12 d-flex justify-content-around">
      <h1 class="col-3 subTotal-title">
        SubTotal : {{finalTotal}} <span style="font-size: 10px;"> EGP</span>
      </h1>
      <button class="btn btn-danger payment-btn" (click)="savingSelectedGames()">
        Go to Payment
      </button>
    </div>
  </section>

  <!-- games  -->

  <section *ngIf="nearByPlacses.length>0" class=" nreaMe-section">
    <div class="title col-md-12">
      <h2>Near Me</h2>
    </div>
    <div class="imgs col-12 d-flex justify-content-center">
      <div *ngFor="let place of nearByPlacses" class='col-md-3'>
        <img src={{place.mainImage}} class="img-fluid">
        <h3 routerLink="/place/{{place.id}}">{{place.name}}</h3>
        <p>{{place.openHours}}</p>
      </div>

    </div>
  </section>



  <div class="col-12 border-bottom-div"></div>



  <app-comments></app-comments>
</div>