@import './../../styles.scss';
h2 {
    font-size: $h3;
    color: $hcolors;
}

.wrapper {
    width: $wrapper;
    padding: 10% 0;
    .form-group {
        p {
            font-size: $paragrphSize;
        }
        label {
            font-size: $paragrphSize;
        }
        input,
        option,
        select {
            font-size: $paragrphSize;
        }
        button {
            font-size: $paragrphSize;
        }
        .email {
            display: none;
        }
    }
}

.userName {
    h1 {
        font-size: 4rem;
    }
}

.confirm {
    margin-top: 0;
    display: none;
}

.plan {
    font-size: $paragrphSize;
    background-color: #ffffff;
    box-shadow: 3px 2px 3px 2px gray;
    border-radius: 15px;
    p {
        font-size: $paragrphSize;
    }
}

.time {
    width: 153px;
}