<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

    <input formControlName="email" placeholder="Your email">
  
    <div *ngIf="myForm.controls.email.hasError('pattern')">
      Oops, wrong pattern buddy!
    </div> 
  
    <input formControlName="password" placeholder="password">
  
    <div *ngIf="errorcheck">
        invalid email or password
    </div>
  
    <button type="submit" [disabled]="myForm.invalid">
      log in
    </button>
  </form> -->


  <!-- ================================================== -->

  
<section class="login container-fluid">
  <section class="login-wrapper row">
    <section class="loginimg col-md-6"> 
      <figure>
        <img src="https://i.postimg.cc/wMJG6K0G/Download-premium-psd-of-Young-caucasian-girl-with-an-orange-ball.png" alt="">
      </figure>
    </section>

    <section class="form-wrapper col-md-6 ">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="container">

        <div class="logo ">
          <img src="https://i.postimg.cc/1RNT06sr/logo.png" alt="">
        </div>
        <div class="email  ">
          <i class="fas fa-user-alt"></i>
          <input type="email" formControlName="email" placeholder="User email" class="col-12">
        </div>
        
        <div class="pass ">
          <div class="password">
            <i class="fas fa-lock"></i>
            <input type="password" formControlName="password" placeholder="Password" class="col-12">
          </div>
          <p>forgot password?</p>
        </div>

        <div class="checkbox ">
          <input type="checkBox">
          <label class="">Remember me</label>
        </div>
        

          <div class="errormsg" *ngIf="errorcheck" >
            <p>invalid email or password</p> 
          </div>

          <div class="button">
            <button type="submit" [disabled]="myForm.invalid">
              login
            </button>
          </div> 

          <div class="signup " routerLink="/register">
            don't have an account? 
            <span>sign up</span>
          </div>

        
        </form>
    </section>
  </section>
</section>