
// @import './../../styles.scss';
// p{
//     font-size: 2rem;
// }
// // h2{
//     font-size: $h2;
// }

.category-wrapper{
    width:90%;
    margin: 0 auto;
}
.category-wrapper__containt{
    // padding-top: 150px; //to be changed
}
.canvas{
    margin-top: 7%;
    margin-bottom: 2%;
}
.filter{
    // background-color: blue;
}
.filter-content button{
    padding:15px;
    text-align: left;
    background:none;
    border: none;
    color: #111;
    font-size: 1.5rem;
    
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}


.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow:none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #ffa21d;
    background-color:#f2f2f2 ;
    border: none;
}
.filter button{
    text-transform: capitalize;
    padding-left: 0;
    font-weight: bold;
    color: #707070;
}
// .filter button:hover{
//     color: #ffa21d;
// }
.filter button:active{
    color: #ffa21d;
}

.collapse{
    background-color: none;
}
.collapse label i{
   color: #ffa21d;
}
///////////////////////// end filter//////////////
.place-nav {
   
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;

}
.place-nav ul{
    list-style: none;
    width:60%;
   
    
}
.place-nav li{
    font-size: 1.7rem;
    color: #a0a0a0;
}
.place-nav li:hover{
    color: #444;
    cursor: pointer;
}
.place-nav li:focus{
    color: #444;
}
.place-nav i{
    font-size: 1.7rem;
}
.place-content__item{
    border-radius: 10px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.36);
    background-color:#fff;
    padding: 20px;
    margin-bottom: 30px;
}
.place-content__item-img{
    // height: 250px;
   
}
.place-content__item-img img{
    max-width: 100%;
    border-radius: 10px;
}
.place-content__item-body p{
    font-size: 16px;
}
.open{
    color: #67b493
}
.closed{
    color:#dd583f;
}
.filter-canvas{
    margin-top: 20%;
}
