.login {
  margin-top: 56px;

  figure {
    height: 120vh;

    img {
      max-height: 100%;
    }
  }
}

.form-wrapper {
  background-color: #111;
  height: 100vh;
  background-size: 100% 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.logo {
  color: #ffa21d;
  margin-top: 0;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-content: center;
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

.email,
.password,
.name,
.confirmpass {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid #999;
}


input {
  border: none;
  background: none;
  padding: 10px;
  color: #999;
  width: 100%;
  padding-left: 0;
  padding-top: 0;
}

input:focus {
  outline: none;

}

.email label,
.password label,
.name label,
.confirmpass label {
  text-align: left;
  color: #999;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: bold;
}

input::placeholder {
  text-transform: capitalize;
  font-size: 0.8rem;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  background-color: #999;
}

.checkbox label {
  margin: 0;
  padding-left: 15px;
  color: #999;
  font-size: 0.8rem;
}

button {
  border: none;
  padding: 10px 40px;
  border-radius: 30px;
  background-color: #ffa21d;
  align-content: center;
  color: #111111;
  text-transform: capitalize;
}

.loginbtn {
  font-size: 12px;
  text-transform: capitalize;
}

.loginbtn span {
  color: #ffa21d;
}

@media (max-width: 500px) {
  .loginimg {
    display: none;
  }
}
