
<section class="login container-fluid">
    <section class="login-wrapper row  d-flex justify-content-around">

        <!-- <section class="loginimg col-md-6 "> 
            <figure>
                <img src="https://i.postimg.cc/wMJG6K0G/Download-premium-psd-of-Young-caucasian-girl-with-an-orange-ball.png" alt="">
            </figure>
        </section> -->
        

            <section class="form-wrapper  col-md-6 col-sm-12  ">
                <form class="form-group container" [formGroup]='myForm' (ngSubmit)="onSubmit(myForm)">
                    
                    <div class="logo ">
                        <img src="https://i.postimg.cc/1RNT06sr/logo.png" alt="">
                    </div>
                    <div class="name">
                        <label for="">name</label>
                        <input formControlName="name" placeholder="enter your full name" >
                    </div>
                    <div class="errormsg" *ngIf="myForm.get('name').hasError('required') && myForm.touched">
                    this name is requeired
                    </div>
                    

                    <div class="email">
                        <label for="">email</label>
                        <input formControlName="email" placeholder="Your email" >
                    </div>
                    <div class="errormsg" *ngIf="myForm.controls.email.hasError('pattern')">
                        mail must be "abc@abc.com"
                    </div>
                    <div class="errormsg" *ngIf="myForm.controls.email.hasError('required') && myForm.touched ">
                        mail is requeired
                    </div>

                    <div class="password">
                        <label for="">password</label>
                        <input formControlName="password" placeholder="password" type="password" appPassword >
                    </div>

                    <div class="errormsg" *ngIf="myForm.controls.password.hasError('required') && myForm.touched ">
                        password is requeired
                    </div>
                    <div class="errormsg" *ngIf="myForm.controls.password.hasError('pattern')">

                        password must be at least 5 charachters and contain at least upper char, low char, number
                    </div>

                    <div class="confirmpass">
                        <label for="">confirm password</label>
                        <input formControlName="confirmPassword" placeholder="confirm password" type="password" appPassword >
                    </div>

                    <div class="errormsg" *ngIf="myForm.value.confirmPassword !== myForm.value.password && myForm.touched">
                        test doesn't match
                    </div>

                    <div class="checkbox ">
                        <input type="checkBox">
                        <label class="">I agree to all terms and conditions</label>
                    </div>

                    <div class="button">
                        <button type="submit" [disabled]="!myForm.valid || myForm.value.confirmPassword !== myForm.value.password " >Sign up</button>
                    </div>

                    <div class="button loginbtn">
                       Already have an account? <span routerLink="/login"> log in</span>
                    </div>
                </form>
            </section>

    </section>
</section>